app-header{
    .content{
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        background-color: #185ccc;
    }

    img {
        height: 5vh;
        width: auto;
        margin: 0 2vw 0 2vw;
    }
}