app-header{
    .content{
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        background-color: #185ccc;
    }

    img {
        height: 5vh;
        width: auto;
        margin: 0 2vw 0 2vw;
    }

    .header-buttons{
        width: 50vw;
    }

    .app-header-button{
        color: white;
        text-align: center;
        font-size: 1.1rem;
        padding: 0.7rem;
        margin: 0 0.5vw;
        border-radius: 2rem;
        text-decoration: none;

        &__current-page{
            color: white;
            text-align: center;
            font-size: 1.1rem;
            padding: 0.7rem;
            margin: 0 0.5vw;
            border-radius: 2rem;
            background-color: #1c8de5;
            text-decoration: none;
        }
    }

    .avatar-img{
        background-color: #185ccc;
        border: none;
    }
}