<div>
  <app-header></app-header>
  <div class="container">
    <button class="create-workspace-button" (click)="createWorkSpace()">
      Utwórz przestrzeń roboczą
    </button>
    <button class="workspace-button" (click)="toggleWorkspaceVisibility()">
      <i *ngIf="isWorkspaceVisible" class="material-icons">arrow_drop_down</i>
      <i *ngIf="!isWorkspaceVisible" class="material-icons">arrow_drop_up</i>
      Twoje przetrzenie robocze
    </button>

    <div class="workspace-list">
      <div
        *ngIf="
          workspace.length === 0 || !isWorkspaceVisible;
          else workspaceList
        "
        [ngClass]="
          !isWorkspaceVisible ? 'workspace-invisible' : 'workspace-empty'
        "
      >
        <div *ngIf="isWorkspaceVisible">
          <mat-icon>cancel</mat-icon> Brak przestrzeni roboczych
        </div>
      </div>

      <ng-template #workspaceList>
        <li *ngFor="let card of workspace">
          <div class="workspace-card">
            <div class="card-header">
              <div class="card-name">
                {{ card.name }}
              </div>
              <button [matMenuTriggerFor]="menu">
                <img src="{{ dots.src }}" alt="{{ dots.alt }}" />
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>Product Backlog</button>
              </mat-menu>
            </div>
            <div class="card-description">
              {{ card.description }}
            </div>
          </div>
        </li>
      </ng-template>
    </div>
  </div>
</div>
