html,body {
    height:100%;
    margin: 0;
}

body {
    background-image: repeating-linear-gradient(to bottom, #98D2EE , #6393D5);
    background-repeat: no-repeat;
    overflow-x: hidden;
}

button{
    cursor:pointer;
}