product-backlog{
    li {
        list-style-type: none;
        transition: all 0.4s ease-out;
    }

    img {
        height: 0.8rem;
        width: auto;
    }

    button{
        border: 0;
        background-color: inherit;
    }
        
    .product-backlog-container{
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}