<div class="login-container">
    <logo-panel></logo-panel>
    <form 
      class="form-container"
      [formGroup]="loginForm"  
      (ngSubmit)="login()"
    >
        <label 
          class= "form-label"
          for="email" 
        >
          Email
        </label>
        <input 
          class= "form-control" 
          id="email" 
          name="email" 
          type="email" 
          [formControl]="email"
          [ngClass]="{'form-control--invalid' : email.errors && isInvalidFlag}" 
        >
        <error-message 
            *ngIf="isInvalidFlag"
            [control]="email"
            [controlName]="'email'"
        >
        </error-message>
        <label 
          class= "form-label"
          for="password" 
        >
          Hasło
        </label>
        <input 
          class= "form-control" 
          id="password" 
          name="password"
          type="password"  
          [formControl]="password"
          [ngClass]="{'form-control--invalid' : password.errors && isInvalidFlag}" 
        >
        <error-message 
          *ngIf="isInvalidFlag"
          [control]="password"
          [controlName]="'hasło'"
        >
        </error-message>
        <button 
          class="form-container-button" 
          type="submit"
        >
          Zaloguj się
        </button>
    </form>
    <button 
      class="form-container-button" 
      (click)="register()"
      type="submit"
    >
      Zarejestruj się
    </button>
</div>
