<div class="login-container">
    <div class="logo-container">
        <img 
          src="{{logo.src}}" 
          alt="{{logo.alt}}"
        />
    </div>
    <form 
      class="form-container" 
      [formGroup]="loginForm" 
      (ngSubmit)="login()"
    >
      <label 
        class= "form-label"
        for="email" 
      >
        Email
      </label>
        <input 
            class= "form-control" 
            id="email"
            name="email" 
            type="email" 
            [formControl]="email"
            [ngClass]="{'form-control--invalid' : email.errors && isInvalidFlag}" 
        >
        <div
          class="error-message" 
          [hidden]="!isInvalidFlag" 
        >     
            <div [hidden]="!email.hasError('pattern')">
              Wprowadzono zły format email.
            </div>
            <div [hidden]="!email.hasError('required')">
              Email jest wymagany.
            </div>
          </div>
        <label 
          class= "form-label"
          for="password" 
        >
          Hasło
        </label>
        <input 
            class= "form-control" 
            id="password" 
            name="password" 
            type="password" 
            [formControl]="password"
            [ngClass]="{'form-control--invalid' : password.errors && isInvalidFlag}" 
        >
        <div [hidden]="!isInvalidFlag">     
            <div 
              class="error-message"
              [hidden]="!password.hasError('required')" 
            >
              Hasło jest wymagane.
            </div>
        </div>
        <button 
          class="form-container-button" 
          type="submit"
        > 
          Zaloguj się
        </button>
    </form>
    <button 
      class="form-container-button" 
      type="submit"
    >
      Zarejestruj się
    </button>
</div>
