<h2 mat-dialog-title>Utworz przestrzen robocza</h2>

<mat-dialog-content [formGroup]="workSpaceForm">
  
    <mat-form-field>
        <input matInput
            placeholder="Nazwa przestzreni roboczej"
            formControlName="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput
            placeholder="Opis"
            formControlName="description">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Zamknij</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Zapisz</button>
</mat-dialog-actions>