<button class="close-button" mat-button (click)="close()">X</button>
<h2 mat-dialog-title class="title">UTWÓRZ SPRINT</h2>

<mat-dialog-content [formGroup]="sprintForm">
  <div class="row">
    <label for="name" class="form-label"> Nazwa Sprintu </label>
    <mat-form-field appearance="fill">
      <input matInput formControlName="name" />
    </mat-form-field>
    <label for="description" class="form-label"> Opis </label>
    <mat-form-field appearance="fill" class="description">
      <input matInput formControlName="description" />
    </mat-form-field>
    <div class="date-container">
      <div class="form-date-container">
        <label for="date" class="form-label"> Data rozpoczęcia sprintu </label>

        <mat-form-field appearance="fill" class="date">
          <input
            matInput
            formControlName="startDate"
            [matDatepicker]="pickerStartDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerStartDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerStartDate></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-date-container">
        <label for="date" class="form-label"> Data zakończenia sprintu </label>

        <mat-form-field appearance="fill" class="date">
          <input
            matInput
            formControlName="endDate"
            [matDatepicker]="pickerEndDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="pickerEndDate"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerEndDate></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="form-container-button" (click)="save()">Zapisz</button>
</mat-dialog-actions>
