<div class="content">
  <div class="logo-img">
    <img src="{{ logo.src }}" alt="{{ logo.alt }}" />
  </div>
  <div class="header-buttons">
    <a
      routerLink="/home"
      [ngClass]="{
        'app-header-button__current-page': router.url === '/home',
        'app-header-button': router.url !== '/home'
      }"
      >Strona główna
    </a>
    <a
      routerLink="/product-backlog"
      [ngClass]="{
        'app-header-button__current-page': router.url === '/product-backlog',
        'app-header-button': router.url !== '/product-backlog'
      }"
      >Product Backlog</a
    >
    <a *ngIf="sprintName" 
    [ngClass]="{
      'app-header-button__current-page': isSprintView,
      'app-header-button': !isSprintView
    }">{{sprintName}}</a
    >
  </div>
  <button
    class="avatar-img"
    aria-label="Example icon-button with a menu"
    [matMenuTriggerFor]="menu"
  >
    <img src="{{ profile.src }}" alt="{{ profile.alt }}" />
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout.emit()">Wyloguj</button>
  </mat-menu>
</div>
