<div class="content">
  <img src="{{ logo.src }}" alt="{{ logo.alt }}" />

  <div class="header-buttons">
    <a
      [ngClass]="{
        'app-header-button__current-page': router.url === '/home',
        'app-header-button': router.url !== '/home'
      }"
      routerLink="/home"
      >Strona główna
    </a>
    <a
      [ngClass]="{
        'app-header-button__current-page': router.url === '/product-backlog',
        'app-header-button': router.url !== '/product-backlog'
      }"
      routerLink="/product-backlog"
      >Product Backlog</a
    >
  </div>
  <button
    [matMenuTriggerFor]="menu"
    class="avatar-img"
    aria-label="Example icon-button with a menu"
  >
    <img src="{{ profile.src }}" alt="{{ profile.alt }}" />
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Wyloguj</button>
  </mat-menu>
</div>
